body {
  background: #CCE7EF;
  width: 100%;
  font: caption;
}

#produto-destaque {
  background-color: #252eab;
  text-align: center;
  width: 40%;
  height: 600px;
  margin: auto;
  color: #FFFFFF;
  position: relative;
}

#container {
  justify-content: center;
  display: flex;
  position: relative;
  width: 100%;
}

#produto, #produto2, #produto3 {
  background: #b700e54e;
  width: 13%;
  height: 208px;
  text-align: center;
  margin: 5px;
}

img {
  float: none;
  opacity: 0.7;
  }

h1 {
  text-align: center;
}

#nomeDest {
  position: absolute;
  padding-left: 28.9%;
  padding-right: 28.9%;
  font: italic 1.2em "Fira Sans", serif;
  font-size: 40px;
  top: 58%;
  font-weight: bold
}

#nome {
  font-size: 18px;
  font-weight: bold
}

#p3 {
  position: absolute;
  padding-left: 43%;
  font-size: 23px;
  top: 88%;
  font-weight: bold
}

#p2 {
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
  top: 72%;
  opacity: 0.8;
}

#p4 {
  position: absolute;
  padding-left: 93%;
  bottom: 0;
  font-size: 10px;
  opacity: 0.6;
}

#p1 {
  position: absolute;
  padding-left: 10%;
  bottom: 0;
  font-size: 10px;
  opacity: 0.6;
}